@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
/* RGB
$color1: rgba(57, 115, 103, 1);
$color2: rgba(93, 163, 153, 1);
$color3: rgba(66, 133, 140, 1);
$color4: rgba(104, 237, 198, 1);
$color5: rgba(53, 57, 60, 1); */

/* Global Styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
.section-header {
  color: rgba(53, 57, 60, 1);
  text-align: center;
  margin-top: 50px;
  font-size: 30px;
}

/* Nav Styling */
nav {
  background-color:rgba(104, 237, 198, 1);
}
.nav-bar {
  font-weight: 500;
  font-size: 16px;
  color: #eeddff;
  display: flex;
  justify-content: space-between;
  padding: 30px 10%;
}


.nav-ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}
.nav-logo {
  margin-top: 10px;
  font-weight: bolder;
}
.nav-links{
  text-decoration: none;
  color: rgba(66, 133, 140, 1);
  margin: 1px 10px;
 
}

.nav-btn {
  padding: 9px 25px;
  background-color: rgba(53, 57, 60, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  
}

/* jumbotron styling */

.jumbotron{
  background-color: rgba(53, 57, 60, 1);
  height: 400px;
 display: flex;
}

.jumbotron-text {
  color: whitesmoke;
  padding-top: 5%;
  width: 50%;
}
.jumbotron-text-margin {
  margin-bottom: 20px;
}

.jumbotron-btn {
  padding: 9px 25px;
  background-color: rgba(104, 237, 198, 1);
  text-decoration: none;
  color: rgba(66, 133, 140, 1);
  border: none;
  border-radius: 50px;
  
}
.jumbotron-img {
  padding-bottom: 200px;
  height: 600px;
  width: 400px;
}

/* about me styling */
.aboutme{
  display: flex;
  margin-top: 50px;
  margin-left: 20%;
  width: 70%;
}

.aboutme-icon {
  height: 50px;
  width: 50px;
}


.aboutme-section h3 {
  color: rgba(104, 237, 198, 1);
  margin: 10px 0;
}

/* My Work styling */
.card {
  position: relative;
  width: 75%;
  margin-top: 50px;
  margin-left: 20%;
}
.card-image {
  display: block;
  width: 100%;
  height: 200px;;
}
.card-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(104, 237, 198, 1);
}
.card:hover .card-overlay {
  opacity: 1;
}

.card-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.my-works {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.my-works .works {
  width: 32%;
}